[submodule "external/ELFIO"]
	path = external/ELFIO
	url = https://github.com/serge1/ELFIO.git
	shallow = true
[submodule "external/Qt-Advanced-Docking-System"]
	path = external/Qt-Advanced-Docking-System
	url = https://github.com/githubuser0xFFFF/Qt-Advanced-Docking-System.git
	shallow = true
[submodule "external/Catch2"]
	path = external/Catch2
	url = https://github.com/catchorg/Catch2.git
	shallow = true
[submodule "external/kitemmodels"]
	path = external/kitemmodels
	url = https://github.com/KDE/kitemmodels.git
	shallow = true
[submodule "external/range-v3"]
	path = external/range-v3
	url = https://github.com/ericniebler/range-v3.git
	shallow = true
[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog.git
	shallow = true
[submodule "external/QHexView"]
	path = external/QHexView
	url = https://github.com/Dax89/QHexView.git
	shallow = true
